.shop {
    width: 100%;
    margin: 3rem 0rem;
}

.shop .container {
    width: 100%;
    height: 100%;
    display: block;
}

.shop .container h1 {
    color: #676565;
    font-family: 'FuturaLT', 'sans-serif';
    font-size: 20px;
    font-weight: 500;
    text-align: center;

}

.shop .container .grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.shop .container div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid #676565;
}

.content {
    width: 100%;
    text-align: center;
}

.discover-button {
    color: white;
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    border: 1px solid black;
    background: black;
    padding: 0.5rem 2rem;

    width: 230px;
    transition: 0.4s ease-in-out;
    box-shadow: inset 0 0 0 0 white;
}

.discover-button:hover {
    box-shadow: inset 230px 0 0 0 white;
    color: black;
    cursor: pointer;
}

/* Media queries  *************************/

@media screen and (max-width: 1024px) {
    .shop .container .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}
