.hero {
    background-color: rgba(0,0,0,0.35);
    color: white;
    height: 65vh;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}

.hero:before {
    content: '';
    background: url('../../assets/images/hero-pic-main-2.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.hero > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 1rem;
    background: none;

    color: rgb(245, 221, 221);
    font-family: 'Raleway', 'sans-serif';
}

.main-header {
    position: relative;
    left: -15rem;
    top: -2rem;

    font-size: 2rem;
    font-weight: 200;
}

.sub-header {
    position: relative;
    left: -15rem;
    top: -3rem;

    font-size: 1rem;
    font-weight: 200;
}

.browse-btn {
    color: white;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 250;
    font-size: 1.1rem;
    border: 0.01px solid rgb(231,231,231);
    padding: 1rem 1.5rem;

    position: relative;
    left: -15rem;
    top: -2rem;

    width: 200px;
    transition: 0.4s ease-in-out;
    box-shadow: inset 0 0 0 0 white;
}

.browse-btn:hover {
    box-shadow: inset 200px 0 0 0 rgb(231,231,231);
    color: black;
    cursor: pointer;
    border: 0.01px solid rgb(153, 118, 118);
}

/* Media queries  *************************/

@media screen and (max-width: 1024px) {
    .hero {
        height: 40vh;
    }

    .main-header {
        font-size: 1.5rem;
        position: static;
    }

    .sub-header {
        font-size: 0.9rem;
        position: static;
    }

    .browse-btn {
        position: relative;
        left: 0rem;
        top: 1rem;

        font-size: 0.8rem;
        padding: 0.5rem 1.2rem;

        width: 100px;
        transition: 0.4s ease-in-out;
        box-shadow: inset 0 0 0 0 white;
    }

    .browse-btn:hover {
        box-shadow: inset 100px 0 0 0 rgb(231,231,231);
        color: black;
        cursor: pointer;
        border: 0.01px solid rgb(153, 118, 118);
    }
}
