.marketing .content h1 {
    display: block;
    margin-bottom: 2rem;

    text-align: center;
    font-family: 'FuturaLT', 'sans-serif';
    font-weight: 550;
    font-size: 20px;
    color: #676565;
}

.marketing .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.marketing-video {
    display: block;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .marketing-video {
        width: 100%;
        height: auto;
    }
}

@media (min-aspect-ratio: 16/9) {
    .marketing-video {
        width: auto;
        height: 100%;
    }
}