.visuals {
    width: 100%;
    height: 18rem;
    border-top: 1px solid rgb(234,234,234);
    display: block;
}

.visuals .container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.visuals .container div {
    margin: 5rem;
    text-align: center;
    display: block;
}

.visuals .container div h4 {
    color: #6F6F6F;
    font-family: 'FuturaLT', 'sans-serif';
    font-size: 15px;
    font-weight: 500;
    line-height: 24.8px;
}

.visuals .container div p {
    color: #6F6F6F;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 500;
    font-size: 13px;
    line-height: 21.5px;
}

.icon {
    color: #6F6F6F;;
    font-size: 3rem;
}

/* Media queries  *************************/

@media screen and (max-width: 1024px) {
    .visuals {
        width: 100%;
        height: 38rem;
    }

    .visuals .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 300px;
    }
}
