.logo {
    padding: 2rem;
}

.container {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.dropdown-menu > ul {
    display: flex;
}

.dropdown-menu > ul > li {
    padding: 1rem;
}

.user {
    display: flex;
}

.user > * {
    padding: 2rem 0.5rem;
    margin-right: 1rem;
}
