@font-face {
    font-family: FuturaLT;
    src:url(futura.ttf);
}

.banner {
    font-family: 'FuturaLT', 'sans-serif';
    color: #FAF4F4;
    font-size: 11px;
    text-transform: uppercase;
    background-color: black;
    text-align: center;
    padding: 1rem;
}

.navbar {
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid rgb(234,234,234);

    position: sticky;
    z-index: 10;
}

.logo {
    margin-left: 2rem;
    margin-right: -10rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
    height: auto;
    width: 10rem;

    cursor: pointer;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'FuturaLT', 'sans-serif';
    color: black;
    font-size: 15px;
    background-color: rgb(255,255,255);
}

.main-menu > ul {
    display: flex;
}

.main-menu ul li a {
    padding: 1.5rem;
    color: black;
}

.user {
    display: flex;
}

.user > * {
    padding: 1.5rem 0.2rem;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.user span a {
    color: black;
}

button {
    font-family: 'FuturaLT', 'sans-serif';
    border: none;
    background: transparent;
}

/* Dropdown */

/* .dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: gray;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: white;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #2a2d35;
}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 0;
} */

/* Dropdown Main Menu */

.trending,
.new-arrivals {
    height: 200px;
    width: auto;
}

.collections {
    position: relative;
    z-index: 100;
}

.dropdown-collections {
    display: none;
    border: 2px solid black;
    background: white;

    position: absolute;
    top: 100%;
    left: 0;

    width: 100vh;
}

.dropdown-collections ul {
    padding: 2rem;
}

.collections:hover .dropdown-collections {
    display: flex;
    cursor: pointer;
}


/* Dropdown Dollar Conversion Menu */

.dropdown-dc {
    position: relative;
    display: inline-block;
    z-index: 10;

    font-size: 13px;
}

.dropdown-button-dc {
    display: inline-block;
    padding: 10px;
    color: black;
    cursor: pointer;
    border: none;
}
/* 
.dropdown-button:hover {
    background: #222;
} */

.dropdown-menu-dc {
    position: absolute;
    display: none; 
    top: 3.8rem;
    /* left: 0; */
    min-width: 50px;
    background: white;
    color: #323b40;
    box-shadow: 0 3px 2px rgba(0.0.0,0.3);

    font-size: 13px;
}

.dropdown-dc:hover .dropdown-menu-dc {
    display: block;
    border: 1px solid black;
}

.dropdown-menu-dc a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-top: solid 1px #e0e0e0;
    border: none;
}

.dropdown-menu-dc a:hover {
    background: #f0f0f0;
    color: #323b40;
}
