@font-face {
    font-family: FuturaLT;
    src:url(futura.ttf);
}

.banner {
    font-family: 'FuturaLT', 'sans-serif';
    color: #FAF4F4;
    font-size: 11px;
    text-transform: uppercase;
    background-color: black;
    text-align: center;
    padding: 1rem;
}

.logo {
    margin-left: 6rem;
    margin-right: -15rem;
}

.container {
    display: flex;
    border-bottom: 0.5px solid black;
    justify-content: space-between;
    align-items: center;

    font-family: 'FuturaLT', 'sans-serif';
    color: black;
    font-size: 15px;
    background-color: rgb(255,255,255);

}

.dropdown-menu > ul {
    display: flex;
}

.dropdown-menu ul li a {
    padding: 1.5rem;
    color: black;
}

.user {
    display: flex;
}

.user > * {
    padding: 1.5rem 0.2rem;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.user span a {
    color: black;
}

button {
    font-family: 'FuturaLT', 'sans-serif';
    border: none;
    background: transparent;
}

.dollar-conversion-dropdown ul li {
    display: none;
}

