@font-face {
    font-family: FuturaLT;
    src:url(futura.ttf);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 3rem 5rem;
}

.grid div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection-content h1 {
    text-align: center;

    font-family: 'FuturaLT', 'sans-serif';
    font-weight: lighter;
    font-size: 20px;
    line-height: 33px;
    color: #676565;
}

.collection-content h3 {
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;

    font-family: 'FuturaLT', 'sans-serif';
    font-weight: lighter;
    font-size: 14px;
    line-height: 23.1px;
    color: #676565;
}

.zoom-in img {
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.zoom-in:hover img {
    transform: scale(1.05);
    cursor: pointer;
}

figure {
    overflow: hidden;
    margin: auto;

    text-align: center;
}

.zoom-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

figure button {
    position: relative;
    bottom: 5rem;

    font-family: 'FuturaLT', 'sans-serif';
    font-size: 12px;
    letter-spacing: 2.4px;
    padding: 0.8rem 1rem;

    color: #676565;
    background-color: white;
    border: 1px solid white;

    transition: 0.7s ease-in-out;
    box-shadow: inset 0 0 0 0 white;
    
}

figure button:hover {
    color: white;
    box-shadow: inset 180px 0 0 0 transparent;
    cursor: pointer;
    background-color: transparent;
    text-decoration: underline;
}
